@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html{
    font-size:100%;
}
body { 
  padding-top: 70px; 
  padding-bottom: 0px; 
  font-family: "Karla", sans-serif;
  margin: 0;  
  color: #856964; /* hot chocolate */
}
#title{
  color:green;
}
p {
  font-size: 16px;
  line-height: 1.75em;
} 

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #d83b4c; /* grapefruit */
}

h3 {
    margin: 1.5em 0; 
}

a:link {
  color: #d83b4c; /* grapefruit */
}

a:visited {
  color: #bcaca9; /* latte */
}

a:hover {
  color: #ed5565; /* grapefruit lt */ 
}

a:active {
  color: #d83b4c; /* grapefruit */
}

.section {
  max-width: 970px;  
  margin: auto;
}

.sectionName {
  border: 3px solid #ffc354; /* sunflower lt */
  padding: 0.5em;
}

.my-containers {
  padding: 1.75em 2em;  
} 

.navbar {
  background-color: white;
  color: #d83b4c !important; /* grapefruit */
  margin-bottom: 0;
  padding: 10px;
  border-bottom: none;
  font-family: 'Karla', sans-serif; 
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
} 

.navbar-brand {
  padding-top: 12px;
  padding-left: 10px;
  color: #d83b4c !important; /* grapefruit */
} 

.navbar li a {
  color: #d83b4c !important; /* grapefruit */
}

.navbar li a:hover {
  text-decoration: underline !important; 
}

.navbar-default .navbar-toggle {
    border-radius: 0;
    box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #d83b4c; /* grapefruit */
}
.main{
  padding:20px 36px;
  margin: 10px 10px 10px 10px;
  background-color: white;
}
.main-form{
  display:flex;
  margin:0 auto;
  width:50%;
}
.main-form-button{
    border:1px solid black;
    border-radius: 5px;
    flex-basis:20%;
    justify-content: space-between;

}
.margin-form-button-right{
    font-size:20px;
    max-width:50px;
}
.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    grid-template-columns: repeat(auto-fit, 186px);

}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}
.card>img{
    width:100%;
    max-width:400px;
}
.cards-list{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

/*Parking_dashboard page style*/
.grid-container {
  width:50%;
  margin:0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  column-gap:20px;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .grid-container{grid-template-columns: repeat(2, 1fr); }
}
.box{
  width:100px;
  height:100px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}